/*
Error: Invalid CSS after "...et-shadow, 0 0 ": expected ")", was "#0000), var(--t..."
        on line 26320 of tailwind.scoped.scss

26315:   --tw-shadow: 0 0 #0000;
26316: }
26317: 
26318: .shadow-sm {
26319:   --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
26320:   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
26321: }
26322: 
26323: .shadow {
26324:   --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
26325:   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

Backtrace:
tailwind.scoped.scss:26320
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/lexer.rb:229:in `expected!'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:717:in `assert_tok'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:541:in `funcall'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:520:in `ident'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:309:in `unary_not'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:309:in `unary_div'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:309:in `unary_minus'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:309:in `unary_plus'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:286:in `times_div_or_mod'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:286:in `plus_or_minus'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:286:in `relational'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:286:in `eq_or_neq'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:286:in `and_expr'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:286:in `or_expr'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:494:in `space'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:434:in `interpolation'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:359:in `expr'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:708:in `assert_expr'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/script/parser.rb:75:in `parse'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1063:in `sass_script'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:909:in `value!'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:778:in `block in try_declaration'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:1183:in `rethrow'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:791:in `try_declaration'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:720:in `declaration_or_ruleset'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/zac/.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/zac/.rbenv/versions/2.7.1/bin/sass:23:in `load'
/Users/zac/.rbenv/versions/2.7.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...et-shadow, 0 0 \": expected \")\", was \"#0000), var(--t...\"\A         on line 26320 of tailwind.scoped.scss\A \A 26315:   --tw-shadow: 0 0 #0000;\A 26316: }\A 26317: \A 26318: .shadow-sm {\A 26319:   --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);\A 26320:   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);\A 26321: }\A 26322: \A 26323: .shadow {\A 26324:   --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);\A 26325:   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);"; }
